@charset "utf-8";

footer{
    width: 100%;
    background-color: #1e1e1e;
}
footer .top{
    padding-top: 40px;
    padding-bottom: 70px;
    justify-content: space-between;
}
footer .top .apply{}
footer .top .apply h3{}
footer .top .apply h3 img{
    width: 12rem;
}
footer .top .apply p{
    color: #999;
    font-size: 1.4rem;
    padding: 30px 0 40px; 
    word-break: keep-all;
}
footer .top .apply button{
    background-color: #fec62c;
    border-radius: 30px;
    color: #1e1e1e;
}
footer .top .apply button a{
    display: inline-block;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 10px 20px;

}
footer .top .info{
    gap: 90px;
}
footer .top .info dl{

}
footer .top .info dl dt{
    margin-bottom: 40px;
}
footer .top .info dl dt a{
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    
}
footer .top .info dl dd{
    margin-bottom: 20px;
}
footer .top .info dl dd a{
    color: #999;
    font-size: 1.4rem;
    
}
footer .top .info dl dd i{
    font-weight: bold;
    font-size: 14px;
    transform: rotate(45deg) translateY(-3px);
}

footer .bottom{
    width: 100%;
    background-color: #191919;
}
footer .bottom > .wrap{
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
footer .bottom .copyright{}
footer .bottom .copyright p{
    font-size: 1.4rem;
    color: #666;
}

footer .bottom .sns_link{}
footer .bottom .sns_link ul{}
footer .bottom .sns_link ul li{}
footer .bottom .sns_link ul li a{}
footer .bottom .sns_link ul li a i{
    font-size: 2.5rem;
    color: #807f80;
    margin-left: 20px;
}
footer .bottom .sns_link ul li a:hover i{
    color: #ccc;
}

@media screen and (max-width: 1200px){

}
@media screen and (min-width: 320px) and (max-width: 1023px){
    .pc_br{
        display: none;
    }
    footer .top .info{
        margin-top: 45px;
        display: flex;
    }
    footer .bottom{
        padding: 35px 0;
    }
    footer .bottom .sns_link{
        margin-top: 25px;
    }
    footer .bottom .sns_link ul{
        display: flex;
    }
}